@import 'bootstrap/scss/bootstrap';

// Defaults
.theme-bg {
  background-color: #343a40;
}

.theme-bg-light {
  background-color: #f8f8f8;
}
// Header
.logo {
  width: 60px;
  height: 60px;
}

// Main
.main {
  margin-top: 78px;
}

// sidebar
